@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  list-style:none;
  box-sizing: border-box;
}
p{
  font-size: 14px;
  line-height: 150%;
}
header, footer, section{
  padding-inline: 10%;
  width: 100%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  position: relative;
  background-color: black;
  z-index: 99;
}
.logo{
  font-weight: 800;
  font-size: 40px;
  color: white;
  span{
    color: blue;
  }
}
nav ul{
  display: flex;
  gap: 15px;
  justify-content: space-between;
  transition: 0.4s;
}
ul a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}
ul a::before{
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  background-color: white;
  bottom: -4px;;
  left: 0;
  transition: 0.4s;
}
ul a:hover::before{
  width: 100%;
}
.nav-icon{
  display: none;
  width: 30px;
  height: 30px;
  background-color: white;
  cursor: pointer;
}
.active{
  top: 100%;
}
/* =============== hero section ================== */
.hero_section{
  /* height: 100vh; */
  background-image:linear-gradient(rgba(0, 0, 0, 0.601), rgba(0, 0, 0, 0.58)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  margin-top: -100px;
  padding-top: 190px;
  padding-bottom: 80px;
  color: white;
}
h1{
  font-size: 45px;
  width: 70%;
  margin-inline: auto;
  line-height: 120%;
}
.hero_section p{
  width: 52%;
  line-height: 140%;
  font-size: 18px;
  margin-inline: auto;
  margin-top: 10px;
}
.button{
  padding: 12px 32px;
  border-radius: 28px;
  border: none;
  background-color: blue;
  margin-top: 30px;
  color: white;
  transition: 0.4s;
  width: fit-content;
  display: block;
  text-decoration: none;
  margin-inline: auto;
}
.button:hover{
  background-color: white;
  color: blue;
}

  /* =============== news section ================== */

.news_section{
  padding-block: 100px;
}
.news_section p{
  color: rgba(0, 0, 0, 0.72);
  margin-block: 10px;
}
.news_section .news_container{
  display: flex;
  gap: 32px
}
.news_container .left-box{
  /* border: solid red; */
  flex: 2;
}
.news_container .right-box{
  /* border: solid black; */
  flex: 1;
  border-left: 2px rgba(202, 202, 202, 0.461) solid;
}
h2{
  font-size: 21px;
  color: black;
}
.news_container h2{
  border-bottom: 2px rgba(202, 202, 202, 0.461) solid;
  padding-block: 8px;;
}
.right-box h2{
  padding-left: 22px;
}
.left-box .news, .news2{
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.left-box .trending_h2{
   margin-top: 40px;
}
h3{
  font-size: 18px;
  color: black;
  font-weight: 600;
}
.news .child_one, .news2 .child_one{
  box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.304);
}
.news .child_one img, .news2 .child_one img{
  width: 100%;
  height: 190px;
  object-fit: cover;
}
.news .child_one_text, .news2 .child_one_text{
  padding: 22px;
}
.news .child_two, .news2 .child_two{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.news .child_two .card, .news2 .child_two .card{
  display: flex;
  align-items: center;
  gap: 22px;
  /* padding-right: 8px; */
   box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.369);
}
.child_two .card img{
  width: 97px;
  height: 100%;
  object-fit: cover;
}
.child_two .card p{
  color: black;
  font-weight: 600;
  margin-block: 0px;
  margin-bottom: 5px;
  padding-right: 5px;
}
.child_two .card span{
  font-size: 12px;
}

.right-box p{
  margin: 22px;
}
.right-box .stories_h2{
  margin-top: 32px;
    border-top: 2px rgba(202, 202, 202, 0.461) solid;
}

.right-box .stories_container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 22px;
  margin-top: 32px;
}
.stories_container .card{
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.369);
}
.stories_container .card img{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.stories_container .card p{
  color: black;
  font-weight: 600;
  margin-block: 0px;
  margin-bottom: 5px;
  padding: 0;
  padding-right: 30px;
  margin: 0;
}
.right-box .news8{
  margin-left: 22px;
  margin-top: 25px;
}
.news8 img{
  width: 100%;
  object-fit: cover;
  height: 160px;
}

/* ================ event section ======== */
.event-section{
  padding-block: 100px;
}
.event-section .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.container .event{
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.565)),url(../images/news6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 22px;
  height: 190px;
}
.event h3{
  color: white;
  font-size: 16px;  
  margin-block: 8px;
}
.event .event_type{
  display: block;
  width: fit-content;
  background-color: white; 
  color: black;
  padding: 5px 8px;
  margin-inline: auto;
  font-size: 12px;
  cursor: pointer;
}
/* =================FOOTER================== */
footer{
  background-color: black;
  padding-block: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul{
  display: flex;
  gap: 22px;
}
footer .input-box{
  display: flex;
  gap: 15px;
  align-items: center;
}
footer .input-box input{
  background: transparent;
  color: white;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid white;
  padding: 8px;
  outline: none;
}
footer .input-box button{
  padding: 12px 32px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: 0.4s;
}
footer .input-box button:hover{
  background-color: white;;
  color: blue;
}

/* ================ Responsiveness=========== */
@media(width<= 1110px){
  .news_container{
    flex-direction: column;
  }
  .news_container .left-box, .news_container .right-box{
    flex: 1;
  }
  h1{
    font-size: 35px;
  }
  .hero_section p{
    font-size: 16px;
    width: 50%;

  }
}
@media (width <= 890px) {
  .logo{
    font-size: 30px;
  }
  section, header, footer{
    padding-inline: 5%;
  }
  .event-section .container{
    grid-template-columns: repeat(2, 1fr);    
  }
}
@media (width<=750px){
  .event-section{
    padding-block: 50px;
  }
  .event-section .container{
    grid-template-columns: repeat(1, 1fr);    
    align-items: center;
  }
  h1{
    font-size: 28px;
    width: 80%;
  }
  .hero_section p{
    width: 80%;
  }
  .left-box .news, .news2{
    grid-template-columns: repeat(1, 1fr);
  }
  footer ul{
    display: none;
  }

  nav ul{
    flex-direction : column;
    background-color: black;
    position: absolute;
    top: -500px;
    right: 0;
    padding: 40px 32px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .nav-icon{
    display: block;
  }
  footer .input-box{
    flex-direction: column;
  }
  footer .input-box button{
    border-radius: 4px;
    padding: 10px 24px;
  }
}
@media (width<=400px){
  h1{
    font-size: 28px;
    width: 100%;
  }
  .hero_section p{
    width: 100%;
    font-size: 15px;
  }
  .logo{
    font-size: 22px;
  }
  .button{
    padding: 10px 24px;
    font-size: 14px;
  }
  h2{
    font-size: 16px;
  }
  h3{
    font-size: 14px;
  }
}